// NonAlcoholicPage.scss

$non-alcoholic-main-bg-color: #f0f0f0;
$non-alcoholic-container-max-width: 1200px;

.non-alcoholic-body {
  background-color: $non-alcoholic-main-bg-color;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.non-alcoholic-container {
  max-width: $non-alcoholic-container-max-width;
  margin: 0 auto;
  padding: 20px;
}

.non-alcoholic-h2 {
  color: #333;
  text-align: center;
}

.non-alcoholic-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.non-alcoholic-li {
  width: 30%; // İçecekleri 3'erli sıralamak için genişlik ayarı
  margin: 10px 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .non-alcoholic-a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;

    .non-alcoholic-h3 {
      margin-top: 10px;
      font-size: 18px;
      text-decoration: none;
    }

    .non-alcoholic-img {
      width: 60%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
